.demo {
	position: relative;

	width: 80%;
	margin: 0 auto;

	font-size: 0.7em;
}

.demo .faux-video-surface {
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

.demo .faux-video-surface {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;

	border: none;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.6);
	color: inherit;
	display: none;
}

.demo .faux-video-surface::before {
	content: '\25B8';
	font-size: 5em;
	position: absolute;
	top: 50%;

	transform: translateY(-50%);
}

.demo[data-active-phase='-1'] .faux-video-surface {
	display: block;
}

.demo button {
	font-size: inherit;
}

.demo h1 {
	margin: 0;

	font-size: 1.4em;
}

.demo h2 {
	margin: 0;
	font-size: 1.2em;
	font-weight: normal;
}

.demo .browser {
	border-width: 1px;
	margin-top: 1em;

	border-color: #aaa;
	border-radius: 1em;
	border-style: solid;
	overflow: hidden;
	pointer-events: none;
}

.demo .toolbar {
	padding: 1px;

	background-color: #aaa;
}

.demo .controls {
	padding: 0.2em 0.8em;

	color: #333;
	text-align: right;
}

.demo .location {
	padding: 0.2em;

	background-color: #333;
}

.demo .phase-items {
	width: 400%;

	transition-property: transform;
	transition-duration: 0.3s;
}

@media (prefers-reduced-motion) {
	.demo .phase-items {
		transition-duration: 0s;
	}
}

.demo [data-phase] {
	width: 25%;
	display: inline-block;

	vertical-align: top;
}

.demo[data-active-phase='0'] .phase-items {
	transform: translateX(0);
}

.demo[data-active-phase='1'] .phase-items {
	transform: translateX(-25%);
}

.demo[data-active-phase='2'] .phase-items {
	transform: translateX(-50%);
}

.demo[data-active-phase='3'] .phase-items {
	transform: translateX(-75%);
}

.demo header,
.demo .viewport {
	overflow: hidden;
}

.demo .viewport [data-phase] {
	padding: 1em 1em 0 1em;
}

.demo .progress,
.demo .progress .fill {
	height: 5px;

	font-size: 0;
}

.demo .progress {
	background-color: #aaa;
}

.demo .progress .fill {
	background-color: #09f;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.demo:not([data-active-phase='-1']) .progress .fill {
	animation-name: progress;
}

.demo[data-active-phase='2'] .browser [data-phase='2'] .speech-guess {
	animation-duration: 1s;
	animation-fill-mode: backwards;
	animation-name: slidein;
}
@media (prefers-reduced-motion) {
	.demo[data-active-phase='2'] .browser [data-phase='2'] .speech-guess {
		animation: none;
	}
}

.demo .browser [data-phase='2'] .speech:nth-child(5) {
	animation-delay: 0.4s;
}
.demo .browser [data-phase='2'] .speech:nth-child(6) {
	animation-delay: 0.6s;
}
.demo .browser [data-phase='2'] .speech:nth-child(7) {
	animation-delay: 0.8s;
}
.demo .browser [data-phase='2'] .speech:nth-child(9) {
	animation-delay: 1s;
}

/**
 * A "Speech" component is used to simulate the effect of a user interactively
 * attributing an answer. Hide the component until the simulated guess occurs.
 */
.demo .browser [data-phase='2'] [data-first-guess='0'] .speech:nth-child(8),
.demo .browser [data-phase='2'] [data-second-guess='0'] .speech:nth-child(4),
.demo .browser [data-phase='2'] [data-third-guess='0'] .speech:nth-child(2) {
	display: none;
}

/**
 * Hide the "SpeechGuess" component which represented an answer prior to a
 * simulated guess.
 */
.demo .browser [data-phase='2'] [data-first-guess='1'] .speech:nth-child(9),
.demo .browser [data-phase='2'] [data-second-guess='1'] .speech:nth-child(5),
.demo .browser [data-phase='2'] [data-third-guess='1'] .speech:nth-child(3) {
	display: none;
}

/**
 * Animate the newly-visible "Speech" component to draw the viewer attention to
 * a simulated user event.
 */
.demo .browser [data-phase='2'] [data-first-guess='1'] .speech:nth-child(8),
.demo .browser [data-phase='2'] [data-second-guess='1'] .speech:nth-child(4),
.demo .browser [data-phase='2'] [data-third-guess='1'] .speech:nth-child(2) {
	animation-delay: 0s;
	animation-duration: 1s;
	animation-name: click-bounce;
}
@media (prefers-reduced-motion) {
	.demo .browser [data-phase='2'] [data-first-guess='1'] .speech:nth-child(8),
	.demo .browser [data-phase='2'] [data-second-guess='1'] .speech:nth-child(4),
	.demo .browser [data-phase='2'] [data-third-guess='1'] .speech:nth-child(2) {
		animation-duration: 0s;
	}
}

.demo [data-phase='3'] {
	position: relative;
}

.demo .graph-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition-delay: 6s;
	transition-duration: 0.5s;
	transition-property: opacity;
}

.demo .graph-screen h1 {
	position: absolute;
	top: 2em;
	right: 0;
	left: 0;

	font-size: 3em;
	text-align: center;
}

.demo[data-active-phase='3'] [data-phase='3'] .graph-screen {
	opacity: 1;
}

@keyframes slidein {
	from {
		transform: translateY(100vh);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes click-bounce {
	0% {
		transform: scale(100%);
	}
	20% {
		transform: scale(80%);
	}
	40% {
		transform: scale(110%);
	}
	60% {
		transform: scale(95%);
	}
	80% {
		transform: scale(102%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes progress {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}
