/**
 * Approximate `position: absolute; top: 0; right: 0;`
 *
 * This approximation is necessary because the container's `position` can't be
 * set to `relative` without interfering with the rendering of modal dialogs
 * through the application.
 */
.errors .hud {
	position: relative;

	float: right;
	font-size: 0.8em;
	height: 0;
	overflow: visible;
}

.errors .hud .message {
	max-width: 20em;
	display: inline-block;

	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

.errors .hud button {
	margin: 0 0.3em;
	padding: 0 0.3em;

	background: none;
	border: 0;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	font-weight: bold;
}

.errors .modal table {
	width: 100%;

	border-collapse: collapse;
}

.errors .modal th {
	font-size: 0.8em;
	font-weight: normal;
	text-transform: uppercase;
}

.errors .modal tr:nth-child(2n) {
	background-color: #555;
}

.errors .modal th,
.errors .modal td {
	padding: 0.3em 1em;
}

.errors .modal .timestamp {
	font-size: 0.8em;
	white-space: nowrap;
}
