a[target="_blank"] {
	margin: 0 0.5em;
}

a[target="_blank"]:after {
	height: 1em;
	width: 1em;
	margin-left: 0.4em;

	background-color: #09f;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	content: ' ';
	display: inline-block;
	-webkit-mask-image: url('/img/external-link-square-alt-solid.svg');
	mask-image: url('/img/external-link-square-alt-solid.svg');
}
