footer {
	font-size: 0.8em;
	text-align: right;
}

footer .i18n span:before {
	height: 1em;
	width: 1em;
	margin-right: 0.2em;


	background-color: #eee;
	content: ' ';
	display: inline-block;
	font-size: 2em;
	-webkit-mask-image: url('/img/i18n.svg');
	mask-image: url('/img/i18n.svg');
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	vertical-align: middle;
}

footer .i18n label {
	margin-left: 0.5em;

	cursor: pointer;
}

footer .i18n :checked + label {
	font-weight: bold;
}

footer .free-software button {
	border: none;
	padding: 0.4em 0;
	margin: 0 0 0 0.8em;

	background: none;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	font-weight: bold;
	text-align: left;
}

.external-project h3 {
	margin-bottom: 0;
}

.external-project a {
	font-size: 0.8em;
}

.external-project summary {
	cursor: pointer;
}
