.landing {
	position: relative;
}

.landing .i18n {
	position: absolute;
	top: 0;
	right: 0;
}

.landing form {
	margin: 0.3em 0 2em 0;

	text-align: center;
}

.landing form .room-name {
	margin: 0 1em;
}
