.i18n span:before {
	height: 1em;
	width: 1em;
	margin-right: 0.2em;


	background-color: #eee;
	content: ' ';
	display: inline-block;
	font-size: 2em;
	-webkit-mask-image: url('/img/i18n.svg');
	mask-image: url('/img/i18n.svg');
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	vertical-align: middle;
}

.i18n label {
	margin-left: 0.5em;

	cursor: pointer;
}

.i18n :checked + label {
	font-weight: bold;
}
