.menu > header h1 {
	margin: 0;
}

.menu .player.offline {
	color: #999;
}

.menu dt.player {
	clear: left;
	float: left;
}

.menu .voting-yes dt.player::before {
	margin-right: 0.2em;
}

.menu .voting-yes dt.player.voted-yes::before {
	content: '\2022';
}

.menu .voting-yes dt.player.voted-no::before {
	content: '\25e6';
}

.menu dd.player {
	margin: 0;

	float: right;
}

.menu nav ul {
	padding: 0;

	list-style-type: none;
}

.menu nav button {
	border: none;
	padding: 0.4em 0;
	margin: 0;
	width: 100%;

	background: none;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	font-family: inherit;
	text-align: left;
}

.menu nav button:before {
	height: 1em;
	width: 1em;
	margin-right: 0.5em;

	background-color: #eee;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	content: ' ';
	display: inline-block;
	vertical-align: middle;
}

.menu .question button:before {
	-webkit-mask-image: url('/img/edit-solid.svg');
	mask-image: url('/img/edit-solid.svg');
}

.menu .affinities button:before {
	-webkit-mask-image: url('/img/grin-hearts.svg');
	mask-image: url('/img/grin-hearts.svg');
}

.menu .help button:before {
	-webkit-mask-image: url('/img/life-ring.svg');
	mask-image: url('/img/life-ring.svg');
}

.menu a[name] {
	color: inherit;
}

.menu .question {
	position: relative;
}

.menu .question-empty:after {
	position: absolute;
	top: 0;
	right: 0;

	width: 1.2em;
	height: 1.2em;

	border-radius: 100%;
	content: "!";
	background-color: #0099ff;
	font-weight: bold;
	text-align: center;
}

.menu h2 {
	margin: 0;

	font-size: 0.8em;
	font-weight: normal;
	text-transform: uppercase;
}

.menu dl {
	margin-top: 0;
	margin-bottom: 0.8em;
}

@media only screen and (max-width: 480px) {
	.menu header h1 {
		margin: 0;
	}

	.menu nav li {
		width: 33%;

		display: inline-block;
	}

	.menu button {
		text-align: center;
	}

	.menu nav li:first-child button {
		text-align: left;
	}

	.menu nav li:last-child button {
		text-align: right;
	}

	.menu nav button {
		display: inline-block;
		text-align: center;
	}

	.menu > dl dt.player {
		display: inline-block;
		margin-right: 0.3em;

		clear: none;
		float: none;
	}

	.menu > dl dd.player {
		display: inline-block;
		margin-right: 1em;

		float: none;
	}
	.menu > dl dd.player:before {
		content: '(';
	}
	.menu > dl dd.player:after {
		content: ')';
	}

	/**
	 * On smaller viewports, the badge will obscure the text if positioned
	 * completely inside the container.
	 */
	.menu .question-empty:after {
		position: absolute;
		top: -0.6em;
		right: -0.6em;
	}
}
