.progress {
	/* clearfix */
	content: '';
	display: table;
	clear: both;

	width: 100%;
	margin-bottom: 1em;
}

.progress h2 {
	margin: 0;

	font-size: 0.8em;
	font-weight: normal;
	text-transform: uppercase;
}

.phases {
	width: 100%;
	padding: 0;
	margin: 0;

	list-style-type: none;
}

.phases li {
	border-bottom-width: 2px;
	padding: 0.2em 1em;
	width: 20%;

	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-radius: 5px 5px 0 0;
	display: inline-block;
	font-size: 0.7em;
}

.phases [aria-current] {
	background-color: #222;
	font-weight: bold;
}

.phases [aria-current],
.phases [aria-current] ~ li {
	border-bottom-color: #222;
}

.progress .description {
	font-size: 0.8em;
}

.progress .status {
	/* clearfix */
	content: '';
	display: table;
	clear: both;

	padding: 0.2em 1em;

	background-color: #222;
	border-radius: 0 0 5px 5px;
	float: right;
	text-align: right;
}

.progress .advance,
.progress .time-remaining {
	float: right;
}

.progress .time-remaining .label {
	font-size: 0.8em;
	text-transform: uppercase;
}

.progress .time-remaining label:before {
	height: 1em;
	width: 1em;
	margin-right: 0.5em;

	background-color: #eee;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.progress .time-remaining label:before {
	-webkit-mask-image: url('/img/volume-up-solid.svg');
	mask-image: url('/img/volume-up-solid.svg');
}
.progress .time-remaining input:checked + label:before {
	-webkit-mask-image: url('/img/volume-mute-solid.svg');
	mask-image: url('/img/volume-mute-solid.svg');
}

.progress .time-remaining time {
	font-family: sans-serif;
}

.progress .advance {
	margin-right: 1em;
}

.progress .advance button:before {
	height: 1em;
	width: 1em;
	margin-right: 0.5em;

	background-color: #333;
	-webkit-mask-image: url('/img/vote-yea.svg');
	mask-image: url('/img/vote-yea.svg');
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	content: ' ';
	display: inline-block;
	vertical-align: middle;
}
