.question-entry .controls {
	margin-top: 1em;
}

.question-entry .explanation {
	font-size: 0.8em;
}

.question-entry textarea {
	width: 100%;
}

.question-entry input[type="submit"] {
	float: right;
}
