main .menu {
	width: 10em;
	float: left;
}

main > .content {
	width: 100%;
	max-width: calc(100% - 10em);
	padding-left: 2em;

	float: left;
}

@media only screen and (max-width: 480px) {
	main .menu,
	main > .content {
		width: 100%;
		padding: 0;
		max-width: none;
		padding: 0;
	}
}
