/* clearfix */
.speech:after {
	content: '';
	display: table;
	clear: both;
}

.speech {
	margin-bottom: 1em;
	display: inline-block;
	vertical-align: top;
}

@media all {
	.speech {
		width: 50%;
	}
	.speech:nth-child(2n+1) {
		padding-right: 0.5em;
	}

	.speech:nth-child(2n) {
		padding-left: 0.5em;
	}

	.speech .body {
		width: calc(100% - 3.6em - 0.3em);
	}
}

@media (max-width: 800px) {
	.speech {
		width: 100%;
	}
	.speech:nth-child(2n+1) {
		padding-right: 0;
	}

	.speech:nth-child(2n) {
		padding-left: 0;
	}

	.speech .body {
		width: calc(100% - 3.6em - 0.3em);
	}
}

.speech .author {
	width: 3.6em;

	margin-right: 0.3em;

	float: left;
}

.speech .author .avatar,
.speech button .avatar {
	font-size: 3em;
}

.speech .avatar {
	border-width: 3px;
	width: 1.2em;
	height: 1.2em; /* should match message height; see HEIGHT */

	border-color: transparent;
	border-style: dashed;
	text-align: center;
}

.speech .author .name {
	padding: 0.2em 0;
}

.speech .author .name,
.speech .modal .content .name {
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.speech.anonymous .author .avatar {
	background-color: #555;
	border-color: #aaa;
	border-style: dashed;
}

.speech .body {
	float: left;
}

.speech .body .equivalence:before {
	margin-right: 0.4em;

	content: '&';
	font-weight: bold;
}

.speech .body .equivalence {
	margin: 0;
	padding: 0.2em 0;
	width: 100%;

	border: none;
	background: none;
	color: inherit;
	text-align: right;
}

.speech .body .equivalence[disabled] {
	opacity: 0.6;
}

.speech .message, .speech textarea {
	position: relative;

	padding: 1em;
	margin: 0;
	width: 100%;
	min-height: 3.6em; /* should match avatar height; see HEIGHT */

	background-color: #eee;
	border-radius: 0.2em;
	color: #333;
}

.speech .message:before, .speech textarea:before {
	position: absolute;
	left: -0.6em;

	width: 0.6em;
	height: 0.6em;
	display: block;

	background-color: #eee;
	content: ' ';
	-webkit-mask-image: url('/img/speech-tail.svg');
	mask-image: url('/img/speech-tail.svg');
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.speech textarea {
	font-family: inherit;
	font-size: inherit;
}

.speech .message .alternates {
	margin-top: 0.6em;
	display: block;

	font-size: 0.8em;
}

.speech-guess button {
	cursor: pointer;
}

.speech-guess .author button,
.speech-guess .modal .content button {
	padding: 0;

	color: inherit;
	font-size: inherit;
}

.speech-guess button .name {
	color: #333;
}

.speech-guess .modal .content button {
	margin-right: 1em;
}

/* clearfix */
.speech .results:after {
	content: '';
	display: table;
	clear: both;
}

.speech .results .label {
	margin-top: 0.6em;

	font-size: 0.8em;
	text-transform: uppercase;
}

/**
 * This part of the interface uses table layout so that siblings maintain the
 * same height even when line wrapping occurs in some of them. That's necessary
 * to give the impression of a single "meter" indicator.
 */
.speech .all-guesses {
	display: table;
	width: 100%;

	font-size: 0.8em;
	font-weight: bold;
	table-layout: fixed;
}
.speech .all-guesses .part:first-child {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}
.speech .all-guesses .part:last-child {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}
.speech .all-guesses .part {
	display: table-cell;
	border-width: 2px;
	overflow: hidden;
	padding: 0.2em 1em;
	width: 33%;

	border-style: solid;
	font-size: 0.8em;
	text-align: center;
	vertical-align: middle;
}
.speech .all-guesses .correct {
	border-color: #32bd52;
}
.speech .all-guesses .skipped {
	border-color: #555555;
}
.speech .all-guesses .incorrect {
	border-color: #bd3232;
}

.speech .my-guess .avatar {
	display: inline-block;
	margin-right: 0.6em;

	line-height: 1;
}

.speech .my-guess.myself {
	display: none;
}
.speech .my-guess .points {
	padding: 0.2em 1em;
	margin: 0 0.4em;

	font-size: 0.8em;
	font-weight: bold;
	border-radius: 1em;
}
.speech .my-guess.correct .points {
	background-color: #32bd52;
}
.speech .my-guess.incorrect .points {
	background-color: #bd3232;
}
