html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  background-color: #333;
  color: #eee;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 1em;
}

/* clearfix */
main:after {
	content: '';
	display: table;
	clear: both;
}

main button,
main input,
main textarea {
	padding: 0.4em;

	border-color: #315331;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;

	background-color: #fff;
	font-family: inherit;
}

main a {
	color: #09f;
}

main .visually-hidden {
	position: absolute;
	left: -9999px;
}

main :focus, main .visually-hidden:focus + label {
	outline: solid 3px #09f;
}

main button,
main input[type="button"],
main input[type="submit"] {
	padding: 0.4em 1em;

	cursor: pointer;
}

main button[disabled],
main input[type="button"][disabled],
main input[type="submit"][disabled] {
	background-color: #ddd;
	cursor: auto;
}
